{% load static %}
<script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.collapsible.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/swiper.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/circle-progress.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.countTo.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.barfiller.js' %}"></script>
<script type='text/javascript' src="{% static 'js/custom.js' %}"></script>